=IN DEVELOPMENT DB SETTING=
DEV_DB_USERNAME = 
DEV_DB_PASSWORD = 
DEV_DB_DBNAME = 
DEV_DB_HOST = 

=IN PRODUCTION DB SETTING=
PROD_DB_USERNAME = 
PROD_DB_PASSWORD = 
PROD_DB_DBNAME = 
PROD_DB_HOST = 

=SERVER=
DEV_SERVER_URI = 
PROD_SERVER_URI = 

=CLIENT=
DEV_REACT_CLIENT = 
PROD_REACT_CLIENT = 

=SECRET=
ACCESS_SECRET= 
REFRESH_SECRET= 